*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.home{
	height: 100vh;
	width: 100%;
	background-color: #101010;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8%;
	padding-left: 8%;
	background-color: #191919;
	border-bottom: 1px solid red;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span {
	color: red;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul li a: hover{
	color: red;
	transition: 0.5s;
}
.btn {
	background-color: red;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 30px;
	transition: transform .5s;
}
.btn:hover{
	transform: scale(1.2);
	border: 2px solid red;
	background-color: transparent;
}
.image {
	width: 40%;
	height: 70%;
	position: absolute;
	bottom: 0;
	right: 20px;
	transform: translateX(180deg);
}
.image img {
	height: 70%;
	width: 50%;
	position: 0;
	bottom: 0;
	right: 23%;
	transform: translateX(20%);
}
.content {
	position: absolute;
	top: 60%;
	left: 8%;
	transform: translateY(-50%);
}
h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
h1 {
	color: white;
	font-size: 65px;
	margin: 20px 0 20px;
}
h3 {
	color: white;
	font-size: 25px;
	margin-bottom:50px ;
}
.content a {
	font-size: 20px;
	background: red;
	color: white;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 30px;
	border: 2px solid white;
	transition: .5s;
}
.content a:hover{
	background: transparent;
	border: 2px solid red;
}
.about {
	width: 100%;
	padding: 100px 0;
	background-color: #191919;
}
.about-me {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-me img{
	height: auto;
	width: 300px;
	border-radius: 10px;
}
.about-text {
	width: 550px;
}
.about-text h2 {
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}
.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}
.button {
	background-color: red;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .5s;
}
.button: hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
.riwayatpendidikan {
	background: #101010;
	width: 100%;
	padding: 100px 0;
}
.title h2 {
	color: white;
	font-size: 75px;
	width: 100%;
	margin-bottom: 30px auto;
	text-align: center;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card {
	height: 365px;
	width: 270px;
	padding: 20px 35px;
	background: #141414;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid red;
}
.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0;
	color: red;
}
.card h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	text-align: justify;
}
.pra p a{
	background-color: red;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
}
.pra p a:hover {
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
.skill {
	background: #191919;
	width: 100%;
	padding: 100px 0;
}
.skill-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.skill-bar p{
	text-align: left;
}
.skill-box {
	text-align: right;
	width: 100%;
	background-color: white;
}
.html {
	width: 80%;
	background-color: red;
}
.css {
	width: 70%;
	background-color: red;
}
.javascript {
	width: 70%;
	background-color: red;
}
.react {
	width: 60%;
	background-color: red;
}
.php {
	width: 50%;
	background-color: red;
}
.python {
	width: 90%;
	background-color: red;
}
.mysql {
	width: 55%;
	background-color: red;
}
.firebase {
	width: 40%;
	background-color: red;
}
.figma {
	width: 65%;
	background-color: red;
}
.sketch {
	width: 70%;
	background-color: red;
}
.photoshop {
	width: 75%;
	background-color: red;
}
.contact-me {
	width: 100%;
	padding: 100px 0;
	background-color: #101010;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact-text h2 {
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.contact-box {
	color: white;
}
.contact-box: after {
	content: '';
	display: block;
	clear: both;
}
.contact {
	width: 25%;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.contact h4 {
	color: rad;
	padding-bottom: 10px ;
}
.contact p{
	font-size: 18px;
}
footer {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2) {
	color: #fcfc;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.sosial {
	display: flex;
}
.sosial a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: red;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	border: 2px solid white;
}
.sosi a:hover {
	transform: scale(1.3);
	transition: 0.5s;
	background: transparent;
	border: 2px solid red;
}
.end{
	position: absolute;
	color: white;
	bottom: 65px;
	font-size: 16px;
}
