@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header {
    overflow: hidden;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 60px;
    background-color: #24252A;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header a:hover{
    color: #0088a9;
}

.logo {
    color: rgb(172, 130, 130);
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.about{
    width: 20%;
    padding: 78px 0px;
    background-color: #24252A;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about img{
    margin-top: 25px;
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: rgb(172, 130, 130);
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about button{
    margin-left: 2px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

:roat{
    --clr-dark: rgb(31 43 55);
    --clr-light:rgb(107 114 128);

}

body{
    font-family: 'Nunito', sans-serif;
}

.navbar-brand{
    font-family: 'Nunito', sans-serif;
    color:var(--clr-dark);
}

.nav-link{
    font-weight: 500;
    font-size: 0.875rem;
}

.nav-link.active,
.navbar-brand{
    color:var(--clr-dark);
}

.calliope-mori{
    margin-top: 146px;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(172, 130, 130);
}

.mori{
    margin-top: 10px;
    object-fit: cover;
    width: 30%;
    border-radius: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.nim {
    padding-bottom: 35px;
}

.home{
    padding-top: 65px;
    background: linear-gradient(to left, black,#303657);
}

.about-teks{
    margin-bottom: 146px;
}

.padding-32 {
    padding: 32px;
}

.row:after {
    content: '';
    clear: both;
    display: block;
    margin: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 1rem;
    object-fit: cover;
}

.img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.circle {
    border-radius: 50%;
}

.more{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 400px;
    background: linear-gradient(to left, black,#303657);
}

.moreinfo{
    width: 100%;
    padding-bottom: 300px;
    background: linear-gradient(to left, black,#303657);
}

.moreinfo p{
    border-style: outset;
    border-width: 5px;
    border-color: #303657;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(89, 101, 136, 0.411);
}

/* footer*/

.footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    .footer ul {
        grid-auto-flow: column;
    }
}

.footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

  /* below is just for demo styling */

.footer div {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
}

@keyframes wave-animation {
    0%,
    100% {
    transform: rotate(0deg);
    }
    25% {
    transform: rotate(20deg);
    }
    75% {
    transform: rotate(-15deg);
    }
}
